@keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
  @keyframes bounce-left {
    0%,
    100% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(0px);
    }
  }
  
  @keyframes flower-2 {
    0%,
    100% {
      rotate: 10deg;
    }
    50% {
      rotate: 0deg;
    }
  }
  